/* Keyframes */

@keyframes blink-critical {
	to {
		/*color: @white;*/
		background-color: @critical;
	}
}


/* Styles */


@define-color black	#26233a;
@define-color red	#eb6f92;
@define-color green	#31748f;
@define-color yellow	#f6c177;
@define-color blue	#9ccfd8;
@define-color purple	#c4a7e7;
@define-color aqua	#ebbcba;
@define-color gray	#2d353b;
@define-color brgray	#e0def4;
@define-color brred	#eb6f92;
@define-color brgreen	#31748f;
@define-color bryellow	#f6c177;
@define-color brblue	#9ccfd8;
@define-color brpurple	#c4a7e7;
@define-color braqua	#ebbcba;
@define-color white	 #e0def4;
@define-color bg2	#191724;
/*@define-color bg2 rgba(30, 30, 46, 0.8); */

@define-color warning 	@bryellow;
@define-color critical	@red;
@define-color mode	@black;
@define-color unfocused	@bg2;
@define-color focused	@braqua;
@define-color inactive	@purple;
@define-color sound	@brpurple;
@define-color network	@purple;
@define-color memory	@braqua;
@define-color cpu	@green;
@define-color temp	@brgreen;
@define-color layout	@bryellow;
@define-color battery	@aqua;
@define-color date	@black;
@define-color time	@white;

/* Reset all styles */
* {
	border: @bg2;
	border-radius: 2;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;
}

/* The whole bar */
#waybar {
	/* background: rgba(40, 40, 40, 0.8784313725);  #282828e0 */
	background: @unfocused;
	color: @white;
	font-family: IosevkaNerdFont;
	font-size: 14pt;
	font-weight: normal;
}

/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#mpris {
	padding-left: 1pt;
	padding-right: 1pt;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @warning;
}

/* And now modules themselves in their respective order */

/* Current sway mode (resize etc) */
#mode {
	color: @white;
	background: @mode;
}

/* Workspaces stuff */
#workspaces button {
	/*font-weight: bold;*/
	padding-left: 4pt;
	padding-right: 4pt;
	color: @white;
	background: @unfocused;
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
	color: @purple;
	background: @unfocused;
}

/* Active (on focused output) */
#workspaces button.focused {
	color: @white;
	background: @unfocused;
}

/* Contains an urgent window */
#workspaces button.urgent {
	color: @black;
	background: @warning;
}

/* Style when cursor is on the button */
#workspaces button:hover {
	background: @black;
	color: @white;
}

#window {
	margin-right: 35pt;
	margin-left: 35pt;
}

#pulseaudio {
	background: @unfocused;
	color: @green;
}

#network {
	background: @unfocused;
	color: @white;
}

#memory {
	background: @unfocused;
	color: @yellow;
}

#cpu {
	background: @unfocused;
	color: @purple;
}

#temperature {
	background: @unfocused;
	color: @black;
}

#language {
	background: @unfocused;
	color: @white;
}

#battery {
	background: @unfocused;
	color: @white;
}

#tray {
	background: @date;
}

#clock.date {
	background: @unfocused;
	color: @aqua;
}

#clock.time {
	background: @unfocused;
	color: @blue;
}

#custom-arrow1 {
	font-size: 11pt;
	color: @time;
	background: @date;
}

#custom-arrow2 {
	font-size: 11pt;
	color: @date;
	background: @layout;
}

#custom-arrow3 {
	font-size: 11pt;
	color: @layout;
	background: @battery;
}

#custom-arrow4 {
	font-size: 11pt;
	color: @battery;
	background: @temp;
}

#custom-arrow5 {
	font-size: 11pt;
	color: @temp;
	background: @cpu;
}

#custom-arrow6 {
	font-size: 11pt;
	color: @cpu;
	background: @memory;
}

#custom-arrow7 {
	font-size: 11pt;
	color: @memory;
	background: @network;
}

#custom-arrow8 {
	font-size: 11pt;
	color: @network;
	background: @sound;
}

#custom-arrow9 {
	font-size: 11pt;
	color: @sound;
	background: transparent;
}

#custom-arrow10 {
	font-size: 11pt;
	color: @unfocused;
	background: transparent;
}

#custom-workspace-begin {
  color: @white;
  background: @unfocused;
}

